@media only screen and (max-width: 1980px){
    .addTeacherContainer {
        grid-column-start: 14;
        grid-column-end: 18;
        grid-row-start: 4;
    }

    .addTeacherForm > form > input {
        margin-bottom: 10%;
        height: 3vh;
        width: 92%;
        font-size: 100%;
    }

    .addTeacherForm > form > button {
        height: 5vh;
    }

    .viewStudentsButton {
        grid-row-start: 3;
    }

    .teacherDeleteButton {
        position: relative;
        right: 105px;
        bottom: 7px;
    }
    
    .editButtonModal {
        margin-top: 6%;
        margin-left: 30%;
    }

    .studentTable {
        grid-column-start: 3;
        grid-column-end: 13;
    }
}

@media only screen and (max-width: 1500px){
    .teacherDeleteButton {
        position: relative;
        right: 95px;
        bottom: 5px;
    }

    .studentTable {
        grid-column-start: 3;
        grid-column-end: 13;
    }
}

@media only screen and (max-width: 1300px){
    .addTeacherContainer {
        grid-column-start: 15;
        grid-column-end: 19;
        grid-row-start: 4;
    }

    .addTeacherForm > form > input {
        margin-bottom: 8%;
        height: 3vh;
        width: 92%;
        font-size: 100%;
    }

    .viewStudentsButton {
        grid-row-start: 3;
        font-size: 1em;
    }

    .teacherDeleteButton {
        position: relative;
        right: 80px;
        bottom: 6px;
    }
    
    .editButtonModal {
        margin-top: 5%;
        margin-left: 25%;
    }

    .studentTable {
        grid-column-start: 3;
        grid-column-end: 13;
    }
}

@media only screen and (max-width: 1240px){
    .viewStudentsButton {
        font-size: 1em;
    }

    .teacherDeleteButton {
        position: relative;
        right: 82px;
        bottom: 5px;
    }
    
    .editButtonModal {
        margin-top: 5%;
        margin-left: 20%;
    }

    .teachersModal {
        width: 44vw;
        height: 18vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 10vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 10vw;
    }

    .studentTable {
        grid-column-start: 3;
        grid-column-end: 13;
    }
}

@media only screen and (max-width: 1012px){
    .viewStudentsButton {
        font-size: 1em;
    }

    .studentTable {
        grid-column-start: 3;
        grid-column-end: 13;
    }
}

@media only screen and (max-width: 1000px){
    .viewStudentsButton {
        font-size: 1em;
        grid-row-start: 11;
        grid-column-start: 13;
        grid-column-end: 17;
    }

    .addTeacherFormButtons > button {
        width: 9vw;
        margin-right: 2vw;
        height: 4vh;
        min-height: 25px;
    }

    .teacherTable {
        grid-row-start: 12;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .addTeacherContainer {
        grid-column-start: 2;
        grid-column-end: 9;
        grid-row-start: 3;
    }

    .viewTeachersTab {
        grid-column-start: 16;
        grid-column-end: 20;
        grid-row-start: 11;
    }

    .addTeacherForm {
        width: 40vw;
        height: 35vh;
    }

    .addTeacherForm > form {
        display: inline-grid;
    }

    .addTeacherForm > form > input {
        width: 33vw;
    }

    .addTeacherForm > form > button {
        width: 12vw;
    }

    .teachersEditModal {
        width: 30vw;
    }

    .teachersEditModalText > input {
        width: 20vw;
    }

    .teacherDeleteButton {
        position: relative;
        right: 105px;
        bottom: 9px;
    }

    .editButtonModal {
        margin-top: 5%;
        margin-left: 28%;
    }

    .teachersModal {
        width: 60vw;
        height: 18vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 21vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 20vw;
    }

    .studentTable {
        grid-column-start: 2;
        grid-column-end: 20;
    }
}

@media only screen and (max-width: 900px){
    .viewStudentsButton {
        height: 76%;
    }

    .viewTeachersTab {
        height: 76%;
    }

    .addTeacherFormButtons > button {
        width: 8vw;
    }

    .teacherDeleteButton {
        position: relative;
        right: 75px;
        bottom: 7px;
    }

    .editButtonModal {
        margin-top: 5%;
        margin-left: 28%;
    }

    .teachersModal {
        width: 60vw;
        height: 18vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 21vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 20vw;
    }
}

@media only screen and (max-width: 770px){
    .teachersEditModal {
        width: 40vw;
    }

    .teachersEditModalText > input {
        width: 30vw;
    }

    .teacherDeleteButton {
        position: relative;
        right: 75px;
        bottom: 7px;
    }

    .editButtonModal {
        margin-top: 5%;
        margin-left: 28%;
    }
}

@media only screen and (max-width: 743px){
    .viewStudentsButton {
        width: 12vw;
        height: 73%;
        grid-column-start: 12;
        grid-column-end: 17;
        height: 60%;
        position: relative;
        top: 7px;
    }

    .viewTeachersTab {
        height: 65%;
        grid-column-start: 15;
        grid-column-end: 20;
        grid-row-start: 11;
        position: relative;
        top: 7px;
    }

    .teacherDeleteButton {
        position: relative;
        right: 75px;
    }

    .editButtonModal {
        margin-top: 5%;
        margin-left: 28%;
    }
}

@media only screen and (max-width: 700px){
    .addTeacherForm {
        width: 42vw;
    }

    .addTeacherForm > form > input{
        width: 33vw;
    }

    .addTeacherFormButtons > button {
        width: 9vw;
    }

    .teacherDeleteButton {
        position: relative;
        right: 62px;
        bottom: 7px;
    }

    .editButtonModal {
        margin-top: 5%;
        margin-left: 28%;
    }

    .teachersModal {
        width: 60vw;
        height: 20vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 21vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 20vw;
    }
}

@media only screen and (max-width: 620px){
    .viewStudentsButton {
        width: 13vw;
    }

    .addTeacherFormButtons > button {
        width: 10vw;
    }

    .teacherDeleteButton {
        position: relative;
        right: 62px;
        bottom: 5px;
    }

    .editButtonModal {
        margin-top: 5%;
        margin-left: 28%;
    }
}

@media only screen and (max-width: 600px){
    .viewStudentsButton {
        grid-row-start: 10;
        grid-column-start: 14;
        grid-column-end: 20;
    }

    .viewTeachersTab {
        height: 74%;
        grid-column-start: 17;
        grid-column-end: 22;
        grid-row-start: 10;
        position: relative;
        top: 7px;
        height: 65%;
    }

    .teacherTable {
        grid-row-start: 11;
    }

    .teacherDeleteButton {
        position: relative;
        right: 62px;
        bottom: 0px;
    }

    .editButtonModal {
        margin-top: 8%;
        margin-left: 18%;
    }

    .teachersModal {
        width: 60vw;
        height: 20vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 21vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 20vw;
    }
}

@media only screen and (max-width: 578px){
    .teachersEditModal {
        width: 50vw;
    }

    .teachersEditModalText > input {
        width: 40vw;
    }

    .teacherDeleteButton {
        position: relative;
        right: 62px;
    }

    .editButtonModal {
        margin-top: 8%;
        margin-left: 18%;
    }
}

@media only screen and (max-width: 540px){
    .addTeacherFormButtons > button {
        width: 13vw;
    }

    .editButtonModal {
        margin-top: 0%;
        margin-left: 18%;
    }

    .teacherDeleteButton {
        position: relative;
        right: 58px;
        bottom: 9px;
    }
}

@media only screen and (max-width: 500px){
    .addTeacherForm {
        width: 52vw;
        height: 32vh;
    }

    .viewTeachersTab {
        grid-column-start: 17;
        grid-column-end: 24;
        grid-row-start: 10;
        width: 14vw;
        height: 60%;
    }

    .addTeacherForm > form > input {
        width: 45vw;
    }

    .addTeacherForm > form > button {
        width: 22vw;
    }

    .viewStudentsButton {
        width: 16vw;
        grid-column-start: 13;
        grid-column-end: 20;
    }

    .teacherColumnLabels > td {
        font-size: 0.8em;
    }

    .teacherTable > tbody > tr > td {
        font-size: 0.8em;
    }

    .teacherDeleteButton {
        position: relative;
        right: 48px;
        bottom: 8px;
    }

    .teachersModal {
        width: 60vw;
        height: 20vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 21vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 20vw;
    }
}

@media only screen and (max-width: 426px){
    .teacherDeleteButton {
        height: 28px;
        font-size: 10px;
    }

    .editButtonModal {
        height: 28px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 420px){
    .viewStudentsButton {
        font-size: 0.8em;
    }

    .addTeacherFormButtons > button {
        width: 16vw;
    }

    .viewTeachersTab {
        font-size: 0.8em;
    }

    .teacherColumnLabels > td {
        font-size: 0.8em;
    }

    .teachersEditModal {
        width: 70vw;
    }

    .teachersEditModalText > input {
        width: 60vw;
    }

    .teacherDeleteButton {
        height: 27px;
        width: 42px;
        font-size: 10px;
        position: relative;
        right: 43px;
        bottom: 7px;
    }

    .teachersModal {
        width: 60vw;
        height: 22vh;
    }

    .teacherModalText {
        font-size: 1.5em;
    }

    .modalTeacherCancel {
        height: 4vh;
        width: 21vw;
    }

    .modalDeleteTeacher {
        height: 4vh;
        width: 20vw;
    }

    .editButtonModal {
        height: 27px;
        width: 38px;
        font-size: 10px;
        margin-left: 10%;
    }
}