@media only screen and (max-width: 1980px){
    .viewTeachersTab {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
    }

    .studentGradeAverage {
        width: 14vw;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .addStudentForm > form > input {
        margin-bottom: 10%;
        height: 3vh;
        width: 92%;
        font-size: 100%;
    }

    .viewStudentsButton {
        grid-row-start: 3;
    }
}

@media only screen and (max-width: 1240px){
    .viewTeachersTab {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
    }

    .studentGradeAverage {
        width: 12vw;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .addStudentForm > form > input {
        margin-bottom: 10%;
        height: 3vh;
        width: 92%;
        font-size: 100%;
    }
}

@media only screen and (max-width: 1160px){
    .viewTeachersTab {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
    }

    .studentGradeAverage {
        width: 15vw;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .addStudentForm > form > input {
        margin-bottom: 10%;
        height: 3vh;
        width: 92%;
        font-size: 100%;
    }
}

@media only screen and (max-width: 1000px){
    .addStudentContainer {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .studentTable {
        grid-row-start: 12;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .studentGradeAverage {
        grid-row-start: 10;
        grid-row-end: 10;
        grid-column-start: 9;
        grid-column-end: 20;
        height: 7vh;
        width: 16vw;
    }

    .studentGradeAverage > p {
        margin-top: 8%;
        font-size: 2.5vmin;
    }

    .addStudentForm {
        width: 31vw;
        height: 40vh;
    }

    .addStudentForm > form {
        height: 29vh;
        width: 67vw;
        display: inline-grid;
    }

    .addStudentForm > form > input {
        margin-bottom: 3%;
        height: 3vh;
        width: 40%;
        font-size: 100%;
    }

    .addStudentForm > form > button {
        width: 11vw;
        height: 4vh;
    }

    .viewTeachersTab {
        grid-column-start: 16;
        grid-column-end: 20;
        grid-row-start: 12;
    }

    .viewStudentsButton {
        font-size: 1em;
        grid-row-start: 12;
        grid-column-start: 13;
        grid-column-end: 17;
    }

    .addStudentFormButtons > button {
        width: 9vw;
    }
}

@media only screen and (max-width: 900px){
    .addStudentContainer {
        grid-column-start: 2;
        grid-row-start: 3;
        width: 50vw;
    }

    .addFormButtons > button {
        width: 7vw;
        margin-right: 2vw;
        height: 4vh;
    }
    
    .viewTeachersButton {
        grid-column-start: 11;
        grid-column-end: 16;
        grid-row-start: 11;
    }

    .addStudentForm {
        width: 38vw;
        height: 37vh;
    }

    .viewStudentsButton {
        height: 75%;
    }

    .addStudentForm > form {
        height: 27vh;
        width: 64vw;
    }
    
    .studentGradeAverage {
        grid-row-start: 9;
        grid-column-start: 11;
        grid-column-end: 20;
        height: 7vh;
        width: 19vw;
    }

    .studentTable {
        grid-row-start: 12;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .studentGradeAverage > p {
        margin-top: 10%;
    }

    .addStudentFormButtons > button {
        width: 8vw;
    }
}

@media only screen and (max-width: 800px){
    .addStudentContainer {
        grid-column-start: 2;
        grid-row-start: 3;
        width: 50vw;
    }

    .addStudentFormButtons > button {
        width: 9vw;
    }
    
    .addFormButtons > button {
        width: 8vw;
        margin-right: 2vw;
        height: 4vh;
    }

    .studentGradeAverage {
        grid-row-start: 9;
        grid-column-start: 11;
        grid-column-end: 20;
        height: 6vh;
        width: 19vw;
    }

    .studentTable {
        grid-row-start: 12;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .viewStudentsButton {
        width: 55%;
        height: 76%;
    }

    .viewTeachersTab {
        width: 55%;
        height: 76%;
    }
}

@media only screen and (max-width: 720px){
    .addStudentContainer {
        grid-column-start: 2;
        grid-row-start: 3;
        width: 50vw;
    }

    .addStudentFormButtons > button {
        width: 10vw;
    }

    .addFormButtons > button {
        width: 8vw;
        margin-right: 2vw;
        height: 4vh;
    }
    
    .studentGradeAverage {
        grid-row-start: 9;
        grid-column-start: 11;
        grid-column-end: 20;
        height: 6vh;
        width: 21vw;
    }

    .studentTable {
        grid-row-start: 12;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .studentGradeAverage > p {
        font-size: 2vmin;
    }
}

@media only screen and (max-width: 700px){
    .addStudentContainer {
        grid-column-start: 2;
        grid-row-start: 3;
        width: 50vw;
    }

    .addStudentFormButtons > button {
        width: 11vw;
    }

    .addFormButtons > button {
        width: 9vw;
        margin-right: 2vw;
        height: 4vh;
    }
    
    .studentGradeAverage {
        grid-row-start: 9;
        grid-column-start: 11;
        grid-column-end: 20;
        height: 6vh;
        width: 26vw;
    }

    .studentTable {
        grid-row-start: 12;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .studentGradeAverage > p {
        font-size: 3vmin;
        margin-top: 8%
    }

    .viewTeachersButton {
        grid-column-start: 11;
        grid-column-end: 17;
        grid-row-start: 11;
    }

    .addStudentForm > form > button {
        background-color: rgb(0,205,116);
        border-radius: 5px;
        height: 6vh;
    }

    .studentColumnLabels > td {
        font-size: 1em;
    }

    .viewStudentsButton {
        grid-column-start: 13;
        grid-column-end: 17;
    }
}

@media only screen and (max-width: 600px){
    .addStudentForm {
        height: 33vh;
    }

    .addStudentFormButtons > button {
        width: 15vw;
    }

    .addFormButtons > button {
        width: 11vw;
        margin-right: 2vw;
        height: 4vh;
    }

    .addStudentForm > form {
        height: 26vh;
        width: 64vw;
    }

    .addStudentForm > form > input {
        margin-bottom: 0;
        width: 50%;
    }

    .addStudentForm > form > button {
        margin-top: 0;
        width: 15vw;
        height: 5vh;
    }

    .viewTeachersTab {
        height: 74%;
        grid-column-start: 16;
        grid-column-end: 22;
        grid-row-start: 10;
    }

    .studentGradeAverage {
        grid-row-start: 8;
        font-size: 3vmin;
        margin-top: 0;
    }

    .studentTable {
        grid-row-start: 11;
    }

    .viewStudentsButton {
        grid-row-start: 10;
    }
}

@media only screen and (max-width: 520px){
    .addStudentContainer {
        grid-column-start: 2;
        grid-row-start: 3;
        width: 50vw;
    }

    .addStudentFormButtons > button {
        width: 15vw;
    }

    .addFormButtons > button {
        width: 13vw;
        margin-right: 2vw;
        height: 4vh;
    }

    .addStudentForm {
        width: 50vw;
        height: 33vh;
    }
    
    .studentGradeAverage {
        grid-row-start: 8;
        grid-column-start: 14;
        grid-column-end: 20;
        height: 6vh;
        width: 28vw;
    }

    .studentTable {
        grid-row-start: 11;
        grid-column-start: 2;
        grid-column-end: 20;
    }

    .studentGradeAverage > p {
        font-size: 3vmin;
    }

    .viewTeachersButton {
        grid-column-start: 14;
        grid-column-end: 18;
        grid-row-start: 7;
        width: 21vw;
        font-size: 3vmin;
    }

    .studentColumnLabels > td {
        font-size: 1em;
    }

    .addStudentForm > form > button {
        margin-top: 2%;
        width: 20vw;
    }

    .addStudentForm > form > input {
        width: 70%;
    }
}

@media only screen and (max-width: 420px){
    .studentGradeAverage > p {
        font-size: 3.5vmin;
        margin-top: 14%;
    }

    .addFormButtons > button {
        width: 17vw;
        margin-right: 2vw;
        height: 4vh;
    }

    .viewTeachersButton {
        grid-column-start: 14;
        grid-column-end: 18;
        grid-row-start: 7;
        width: 23vw;
        font-size: 1.7vh;
    }

    .viewTeachersTab {
        font-size: 0.8em;
    }

    .viewStudentsButton {
        font-size: 0.8em;
    }

    .studentColumnLabels > td {
        font-size: 1em;
    }

    .addStudentForm > form > button {
        margin-top: 0;
        height: 5vh;
    }

    .studentTable > tbody > tr > td {
        font-size: .8em;
    }

    .addStudentFormButtons > button {
        width: 17vw;
    }
}