.teacherContainer {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%
    5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px
    40px 40px 40px 40px 40px 40px 40px;
}

.teacherTable {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 16;
    margin-right: 6%;
}

.addTeacherContainer {
    grid-column-start: 16;
    grid-column-end: 20;
    display: inline-block;
    grid-row-start: 2;
}

.viewStudentsButton {
    grid-column-start: 16;
    grid-column-end: 19;
    grid-row-start: 6;
}