.title {
    color: rgb(242, 242, 242);
    grid-row-start:2;
    grid-column-start: 2;
}

.headerContainer {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 15;
}

.teacherContainer {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%
    5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px
    40px 40px 40px 40px 40px 40px 40px;
}

.teacherTable {
    display: table;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%
    5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px
    40px 40px 40px 40px 40px 40px 40px;
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: 13;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
    box-shadow: 4px 4px 5px;
    border: solid black 1px;
    margin-bottom: 5%;
}

.teacherTable > tbody {
    grid-column-start: 1;
    grid-column-end: 21;
}

.addTeacherContainer {
    grid-column-start: 16;
    grid-column-end: 19;
    grid-row-start: 4;
}

.gradeAverage {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 5px;
    border: solid black 1px;
    grid-row-start: 2;
    grid-column-start: 13;
    grid-column-end: 15;
}

.viewStudentsButton {
    background-color: rgb(0,149,210);
    width: 45%;
    height: 67%;
    text-align: center;
    padding-top: 5%;
    color: ghostwhite;
    grid-row-start: 3;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid #b3b0b0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

.viewTeachersTab {
    background-color: rgb(0,149,210);
    width: 50%;
    height: 67%;
    text-align: center;
    padding-top: 5%;
    color: ghostwhite;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid #b3b0b0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.addTeacherForm {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    box-shadow: 4px 4px 5px;
    border: solid black 1px;
}

.addTeacherForm > h3 {
    padding-left: 5%;
}

.addTeacherForm > form {
    padding-left: 5%;
    padding-bottom: 5%;
}

.addTeacherForm > form > input {
    margin-bottom: 10%;
    min-height: 25px;
}

.addTeacherForm > form > button {
    background-color: rgb(0,205,116);
    border-radius: 5px;
}

.teacherTable > tbody > tr {
    display: grid;
    grid-template-columns: 0.8fr 0.6fr 0.6fr 0.4fr 0.2fr;
    margin: 3%;
}

.teacherTable > tbody > tr > td > button {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    height: 35px;
    box-shadow: 1px 1px;
    color: white;
}

.teacherHeaderTitle {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 7;
}

.teacherHeader {
    color: white;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 21;
    height: 80%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.teacherHeader > h1 {
    margin: 1%;
}

.teacherColumnLabels > td {
    text-decoration: underline;
}

.addTeacherErrorMessage {
    margin: 0;
    margin-top: 4%;
    color: red;
    text-decoration: underline;
}

.teacherDeleteButton {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    height: 35px;
    box-shadow: 1px 1px;
    color: white;
}

.teachersModal {
    border: solid black 2px;
    background-color: white;
    height: 25vh;
    width: 30vw;
    margin: auto;
    margin-top: 20vh;
    border-radius: 5px;
    box-shadow: 2px 2px;
    min-height: 225px;
}

.modalTeacherCancel {
    margin-right: 1vw;
    height: 6vh;
    width: 5vw;
    border-radius: 4px;
    min-height: 34px;
}
.modalDeleteTeacher {
    margin-right: 1vw;
    height: 6vh;
    width: 5vw;
    border-radius: 4px;
    min-height: 34px;
    background-color: red;
    color: white;
}

.teacherModalText {
    font-size: 2em;
    text-align: center;
}

.addTeacherFormButtons > button {
    width: 6vw;
    margin-right: 2vw;
    height: 4vh;
    min-height: 25px;
}

.addTeacherButton {
    background-color: #00b500;
    border-radius: 4px;
}

.teachersEditModal {
    border: solid black 2px;
    background-color: white;
    height: 46vh;
    width: 25vw;
    margin: auto;
    margin-top: 20vh;
    border-radius: 5px;
    box-shadow: 2px 2px;
    min-height: 315px;
    max-height: 345px;
}

.editButtons > button {
    margin-right: 1vw;
    height: 4vh;
    border-radius: 4px;
    min-height: 32px;
    max-height: 32px;
}

.teachersEditModalText > p {
    text-align: center;
    font-size: 2em;
}

.teachersEditModalText > input {
    width: 15vw;
    display: block;
    margin: auto;
    margin-bottom: 7%;
}

.editConfirm {
    background-color: #00b500;
    margin-left: .5vw;
}

.editButtonModal {
    background-color: rgb(101, 101, 101);
    border-radius: 5px;
    box-shadow: 1px 1px;
    color: white;
}

.operationsButtonsTeachers {
    margin-left: 2.8vw;
}

.deleteModalButtonContainer {
    text-align: center;
}

.editTeacherErrorMessage{
    font-size: 1em;
    text-align: center;
    color: red;
    text-decoration: underline;
}
